/* ********************************* */
/* ********************************* */

/* Responsivness to the page */

@media only screen and (max-width: 768px) {
  /* Responsivness to the navigation page */

  .nav .navbar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .nav .links {
    display: none;
  }

  #btn-request {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  /* ************************* */
  /* Responsivness to the hero section */

  body .hero-container {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  body .hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex-basis: 100%;
  }

  .hero-section .hero-section-image {
    flex-basis: 100%;
    background-image: url(../images/bg-intro-desktop.svg);
  }

  .hero-section .hero-section-image img {
    width: 50%;
    height: auto;
  }

  /* ******************************** */
  /* ******************************** */

  /* Adding responsivness to the features section */

  .features-section .top-features-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  /* ******************************** */
  /* ******************************** */

  /* Adding responsivness to the articles section */

  .article-section .articles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }

  /* ******************************** */
  /* ******************************** */

  /* Adding responsivness to the footer section */

  body .footer-container {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 1rem;
  }

  .footer-container .left-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
  }
}

@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }
  .menu-close {
    display: none;
  }
}
