* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: "Public Sans", sans-serif;
}

/* ************************************* */
/* ************************************* */

/* End of css boiler plate */

/* ************************************** */
/* ************************************** */

/* CSS STYLE GUIDE */

/* ## Colors */

/* ### Primary */

/* - Dark Blue: hsl(233, 26%, 24%) */
/* - Lime Green: hsl(136, 65%, 51%) */
/* - Bright Cyan: hsl(192, 70%, 51%) */

/* ### Neutral */

/* - Grayish Blue: hsl(233, 8%, 62%) */
/* - Light Grayish Blue: hsl(220, 16%, 96%) */
/* - Very Light Gray: hsl(0, 0%, 98%) */
/* - White: hsl(0, 0%, 100%) */

/* ## Typography */

/* ### Body Copy */

/* - Font size: 18px */

/* ************************************* */
/* ************************************* */

/* ************************************/
/* *********************************** */

/* STYLING OF LANDING PAGE STARTS HERE */

/* ************************************ */

/* ******************************* */
/* ******************************** */

/* Styling of the navigation bar */

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-transform: capitalize;
  /* border: 1px solid green; */
  gap: 4rem;
}

.nav {
  z-index: 13;
  padding: 1rem 2rem;
  /* border: 1px solid salmon; */
  background-color: hsl(0, 0%, 100%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* border: 1px solid red; */
}

.links .link {
  font-size: 1.5rem;
  color: hsl(233, 8%, 62%);
}

#btn-request,
#btn-request-online {
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 2rem;
}

/* *** End of Navigation Bar ***** */

/* *********************************** */
/* *********************************** */

/* Start of hero-section  */

.hero-section {
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 98%);
}

.hero-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.hero-section-content {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-basis: 50%;
}

.hero-section-image {
  /* border: 1px solid green; */
  flex-basis: 50%;
  background-image: url(../images/bg-intro-desktop.svg);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.hero-section-image img {
  width: 80%;
  height: auto;
}

.hero-heading {
  width: 65%;
}
.hero-heading h1 {
  font-size: 5rem;
  word-break: break-all;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
}

.hero-text {
  width: 80%;
}
.hero-text p {
  word-break: break-all;
  line-height: 1;
  word-spacing: 0.5rem;
  font-size: 1.8rem;
  color: hsl(233, 8%, 62%);
}

/* ********************************** */
/* ********************************** */

/* End of hero section */

/* *********************************** */
/* *********************************** */

/* Start of the features section */

.features-section {
  padding: 1rem 2rem;
  background-color: hsl(220, 16%, 96%);
}

.feature-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.feature-top-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.feature-top-heading h2 {
  font-size: 4.5rem;
  color: hsl(233, 26%, 24%);
}

.feature-top-text {
  width: 50%;
}

.feature-top-text p {
  word-break: break-all;
  line-height: 1.3;
  font-size: 2rem;
  color: hsl(233, 8%, 62%);
}

.top-features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1fr;
}

.top-feature-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.feature-title h3 {
  font-size: 2rem;
  color: hsl(233, 26%, 24%);
}

.feature-text {
  width: 90%;
}

.feature-text p {
  word-wrap: break-word;
  font-size: 1.8rem;
  color: hsl(233, 8%, 62%);
  line-height: 1.2;
}

/* ************************************ */
/* ************************************ */

/* End of the features section */

/* ************************************* */
/* ************************************* */

/* Start of the artices section */

.article-section {
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 98%);
}

.article-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.article-top h3 {
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1fr;
}

.article-img {
  width: 85%;
  padding: 0.5rem;
}

.article-img img {
  border-radius: 0.3rem;
  width: 100%;
  height: auto;
}

.main-article {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

.article-author {
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
}

.article-heading {
  font-size: 1.6rem;
  width: 75%;
  word-break: break-all;
  line-height: 1.4;
  color: hsl(233, 26%, 24%);
}

.article-description {
  color: hsl(233, 8%, 62%);
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.8;
}

/* ********************************** */
/* End of the article section */
/* ********************************** */

/* ********************************* */
/* Footer Section */
/* ********************************** */

.footer-section {
  background-color: hsl(233, 26%, 24%);
  padding: 4rem 3rem;
}

.footer-container {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact1 {
  justify-content: space-between;
}

.contact h3 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.copyright {
  font-size: 1.8rem;
  color: hsl(233, 8%, 62%);
}

/* ************************************ */
/* ************************************ */

/* End of footer section */
